.login-wrap{
  height:100%;
  width:100%;
  text-align: center;
  box-sizing: border-box;
  background: linear-gradient(354.2deg, #E9D9EA -1.31%, #FAF7FF 92.45%);
  position: relative;
  display: flex;
  justify-content:space-between;
  flex-direction: column;
  padding-top:21.4%;
  padding-bottom:38.5px;
}
.login-wrap .bgL{
  position: absolute;
  width:52.6%;
  height:77.1%;
  left:-28%;
  bottom:-26%;
}
.login-wrap .bgS{
  width:37.8%;
  height:55.5%;
  position: absolute;
  right:-19%;
  top:-13%;
}
.login-wrap .title{
  font-family: 'Aileron';
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 65px;
  color: #000000;
}
.login-wrap .des{
  font-family: 'Aileron';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}
.login-wrap .btn{
  margin-top:40px;
  width: 200px;
  height: 52px;
  font-family: 'Aileron';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
}
.login-footer{
  font-family: 'Aileron';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}
.login-logo{
  width:50px;
  height:20px;
  margin-left:18px;
  position: relative;
  top:-2px;
}