.ring-container {
    position: relative;
}

.circle {
    width: 15px;
    height: 15px;
    background-color: #F2962E;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 20px;
}

.ringring {
    border: 3px solid #F2962E;
    border-radius: 30px;
    height: 25px;
    width: 25px;
    position: absolute;
    left: 15px;
    top: 15px;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite; 
    opacity: 0.0
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}