.wrapBlock, .wrapBlock-flex{
    position: absolute;
    margin: 12px 0px;
    display: flex;
    flex-direction: column;
}

.wrapBlock-flex {
    flex-direction: row;
}

.dot-top, .dot-top-custom{
    position: absolute;
    left: 39.5%;
    top: -47px;
}

.dot-left {
    position: absolute;
    left: -38px;
    top: 35%;
}
.dot-left-fixed {
    position: absolute;
    left: -60px;
    top: 35%;
}

.dot-right {
    position: absolute;
    left: 281px;
    top: 28px;
}

.dot-right-bottom{
    position: absolute;
    left: 281px;
    top: 28px;
}

.dot-right-bottom{
    position: absolute;
    right: 0px;
    top: 185px;
}

.dot-right-custom{
    position: absolute;
    right: 0px;
    top: 25px;
}

.dot-left-custom {
    position: absolute;
    left: -60px;
    top: 11%;
}

.triangle {
    height: 20px;
    width: 20px;
    background-color: #272D38;
    margin: auto;
    z-index: 1;
}

.buttonFunc {
    background: #F2962E;
    color: #FFFFFF;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    padding: 3px 13px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

.top, .top-custom {
    transform:translateY(50%) rotate(45deg);
}

.left {
    transform:translateX(10px) rotate(45deg);
}

.left-fixed {
    transform:translate(-130px, 80px) rotate(45deg);
}

.right {
    transform: translate(128px, 45px) rotate(45deg);
}

.left-custom {
    transform: translate(-128px, 40px) rotate(45deg);
}
.right-custom {
    transform: translate(128px, 40px) rotate(45deg);
}
.right-bottom {
    transform: translate(128px, 200px) rotate(45deg);
}

.modalWindow {
    background-color: #272D38;
    border-radius: 8px;
    padding: 16px;
    z-index: 10;
    max-width: 260px;
}

.header {
    color: #FFFFFF;
    font-size: 20px;
    z-index: 10;
    line-height: 28px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.description {
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btnPrev, .btnNext {
    cursor: pointer;
    border: none;
    background: none;
    color: #9FA4AD;
}