.wrapBlock, .wrapBlock-flex{
    position: absolute;
    margin: 12px 0px;
}
.wrapBlock-flex {
    display: flex;
}
.dot-top {
    position: absolute;
    left: 39.5%;
    top: -18%;
}
.dot-rigth {
    position: absolute;
    left: -38px;
    top: 35%;
}
.triangle, .top-custom {
    height: 20px;
    width: 20px;
    background-color: #272D38;
    margin: auto;
    transform:translateY(50%) rotate(45deg);
    z-index: 1;
}
.rigth {
    transform:translateX(50%) rotate(45deg);
}
.modalWindow {
    background-color: #272D38;
    border-radius: 8px;
    padding: 16px;
    z-index: 10;
    max-width: 260px;
}
.header {
    color: #FFFFFF;
    font-size: 20px;
    z-index: 10;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
.description {
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.btnPrev, .btnNext {
    cursor: pointer;
    border: none;
    background: none;
    color: #9FA4AD;
}