.login-password-wrap{
  padding-left:24px;
  padding-bottom:84px;
  position: relative;
  .bottom-btn{
    position: absolute;
    right:20px;
    bottom:26px;
    display: flex;
    justify-content: flex-end;
    .to-login{
      background-color: #923094;
      border-color: #923094;
      box-shadow: 0 0.125rem 0.1875rem rgb(0 0 0 / 15%);
      color: #fff;
      width:84px;
      cursor: pointer;
      height:28px;
      line-height: 28px;
      text-align: center;
      font-size: 15px;
      border-radius: 1.75rem;
      margin-right:10px;
    }
    .cancel-btn{
      cursor: pointer;
      border: 1px solid #ddd;
      border-radius: 1.75rem;
      width:84px;
      height:28px;
      line-height: 28px;
      text-align: center;
      font-size: 15px;
    }
    .cancel-btn:hover{
      border-color: #923094;
      color:#923094;
    }
  }
  .label{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #4D4949;
    margin:20px 0;

  }
  .input-pwd-wrap{
    height: 27px;
    width: 94%;
    position: relative;
    .showPwd{
      position: absolute;
      width:16px;
      height:16px;
      right:5px;
      top:5px;
      cursor: pointer;
    }
  }
  .email-login-input{
    padding-left:10px;
    padding-right:28px;
    box-sizing: border-box;
    width:100%;
    height:27px;
  }

}
.passwordPopup .ant-modal-title{
  color: rgba(0,0,0,.65);
  font-weight: 400;
}
.passwordPopup .ant-modal-header{
  border:0;
}
.label-Password{
  color: rgba(0,0,0,.65);
  font-size: 16px;
  padding-bottom: 0.5em;
}
